<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="ISO-8859-1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>App name</title>
</head>
<body>
<div align="center">
    <h1>All Products</h1>
    <br/>
    <a th:href="@{'/product/new'}">Add product</a>
    <table border="1" cellpadding="10" class="table table-sm">
        <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Description</td>
            <td>Price</td>
            <td>State</td>
            <td>Actions</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}">id</td>
            <td th:text="${product.name}">name</td>
            <td th:text="${product.description}">description</td>
            <td th:text="${product.price}">price</td>
            <td th:text="${product.state}">state</td>
            <td>
                <a th:href="@{'/product/edit/'+${product.id}}">Edit</a>
                &nbsp;
                <a th:href="@{'/product/delete/'+${product.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>